@import "../node_modules/bulma/bulma.sass"
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min"
@import "../node_modules/bulma-steps/src/sass/index.sass"
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.min"
@import "../node_modules/font-awesome/scss/font-awesome"
@import "../sass/bulma-overrides.sass"
@import "../sass/pages/login.sass"
@import "../sass/pages/dashboard.sass"
@import "../sass/pages/cadastro.sass"
@import "../sass/pages/home.sass"
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans')

$margin1: 1vh
$margin2: 2vh
$margin3: 3vh
$margin4: 4vh
$margin5: 5vh
$margin6: 10vh
$margin7: 15vh
$margin8: 20vh

html, body
  font-family: 'Open Sans', sans-serif
  background-color: #f5f7f9
  margin: 0
  right: 0
  left: 0

p, div
  font-family: 'lato', sans-serif

.text
  color: #333

.white
  color: #fff

.dflex
  display: flex
  align-items: center

.dflex1
  display: flex
  align-items: center
  justify-content: center

.dflex2
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.dflex3
  display: flex
  justify-content: center

.dflex4
  display: flex
  justify-content: center
  flex-direction: column

.dflex5
  display: flex
  align-items: center
  flex-direction: column

.alignflexstart
  align-items: flex-start

.alignflexend
  align-items: flex-end

.justifyflexstart
  justify-content: flex-start

.justifyflexend
  justify-content: flex-end

.mt52
  margin-top: 52px

.mt1
  margin-top: $margin1

.mt2
  margin-top: $margin2

.mt3
  margin-top: $margin3

.mt4
  margin-top: $margin4

.mt5
  margin-top: $margin5

.mt6
  margin-top: $margin6

.mt7
  margin-top: $margin7
  
.mt8
  margin-top: $margin8

.mb5
  margin-bottom: $margin5

.blue
  background-color: $cyan
  color: #fff

.orange
  background-color: #ff6a00

.ligthgray
  background-color: #bbb