@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt6">
    <div id="dash" class="columns is-vcentered">
        <navbarinternal></navbarinternal>
        <div class="column is-10-touch is-offset-1-touch">
            <div class="columns is-multiline">

                <searchbar></searchbar>

                <div class="column mt4">
                    <div class="columns is-multiline">
                        <div class="column">
                            <div class="columns is-mobile">
                                <card subtitle="Descrição do serviço" title="Título1"></card>
                                <card subtitle="Descrição do serviço" title="Título2"></card>
                            </div>
                        </div>
                        <div class="column">
                            <div class="columns is-mobile">
                                <card subtitle="Descrição do serviço" title="Título3"></card>
                                <card subtitle="Descrição do serviço" title="Título4"></card>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-multiline">
                        <div class="column">
                            <div class="columns is-mobile">
                                <card subtitle="Descrição do serviço" title="Título5"></card>
                                <card subtitle="Descrição do serviço" title="Título6"></card>
                            </div>
                        </div>
                        <div class="column">
                            <div class="columns is-mobile">       
                                <card subtitle="Descrição do serviço" title="Título7"></card>
                                <card subtitle="Descrição do serviço" title="Título8"></card>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-multiline">
                        <div class="column">
                            <div class="columns is-mobile"> 
                                <card subtitle="Descrição do serviço" title="Título5"></card>
                                <card subtitle="Descrição do serviço" title="Título6"></card>
                            </div>
                        </div>
                        <div class="column">
                            <div class="columns is-mobile"> 
                                <card subtitle="Descrição do serviço" title="Título7"></card>
                                <card subtitle="Descrição do serviço" title="Título8"></card>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-multiline">
                        <div class="column">
                            <div class="columns is-mobile">
                                <card subtitle="Descrição do serviço" title="Título1"></card>
                                <card subtitle="Descrição do serviço" title="Título2"></card>
                            </div>
                        </div>
                        <div class="column">
                            <div class="columns is-mobile">
                                <card subtitle="Descrição do serviço" title="Título3"></card>
                                <card subtitle="Descrição do serviço" title="Título4"></card>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-multiline">
                        <div class="column">
                            <div class="columns is-mobile">
                                <card subtitle="Descrição do serviço" title="Título5"></card>
                                <card subtitle="Descrição do serviço" title="Título6"></card>
                            </div>
                        </div>
                        <div class="column">
                            <div class="columns is-mobile">       
                                <card subtitle="Descrição do serviço" title="Título7"></card>
                                <card subtitle="Descrição do serviço" title="Título8"></card>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-multiline">
                        <div class="column">
                            <div class="columns is-mobile"> 
                                <card subtitle="Descrição do serviço" title="Título5"></card>
                                <card subtitle="Descrição do serviço" title="Título6"></card>
                            </div>
                        </div>
                        <div class="column">
                            <div class="columns is-mobile"> 
                                <card subtitle="Descrição do serviço" title="Título7"></card>
                                <card subtitle="Descrição do serviço" title="Título8"></card>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
    
</div>
