
@{
    ViewData["Title"] = "Meus dados";
}
<link rel="stylesheet "href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/vue"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<section class="hero infoc blue">
    <div class="hero-body mt5">
        <div class="container has-text-centered">
            <titulocadastro id="tabscadastrotitle"  class="title">Meus Dados<br></titulocadastro>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth is-default">
            <div class="container">
                <ul>
                    <li class="tab is-active" onclick="openTab(event,'WebDev')">
                        <a>Dados da Empresa</a></li>
                    <li class="tab" onclick="openTab(event,'cadastroadministrador')"><a>Dados do Administrador</a></li>
                    <li class="tab" onclick="openTab(event,'cadastrousuarios')"><a>Dados do Usuário</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<div id="navbarcad">
    <navbarinternal></navbarinternal>
</div>

<div id="WebDev" class="content-tab">
    <div class="" id="cad">
        <form>
            <div v-if="step === 1">
                <div class="mt5">
                    <div id="cadastro" class="columns is-desktop">
                        <div class="column is-10-touch is-offset-1-touch is-4-desktop is-offset-2-desktop">
                            <div class="mt4">
                                        <label class="label mt3">CNPJ</label>
                                        <input class="input" id="cnpj" type="text" name="cnpj" data-validate="cnpj" placeholder="00.000.000/0000-00" v-model="dados.entity.cnpj">
                                        <label class="label mt3">Razão Social</label>
                                        <input class="input" data-validate="text" v-model="dados.entity.fullname">
                                        <label class="label mt3">Nome Fantasia</label>
                                        <input class="input" data-validate="text" style="margin-bottom: 0.75rem" v-model="dados.entity.aliasname">
                                        <label class="label mt1">Atividade</label>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select>
                                                    <option>Selecione a atividade</option>
                                                    <option>With options</option>
                                                </select>
                                            </div>
                                        </div>
                                    <div>
                                        <label class="label mt1">Email</label>
                                        <input class="input" v-model="dados.emails.address" label="Email">
                                        <div class="columns" v-for="(telephones, index) in dados.telephones">
                                            <div class="column is-2">
                                                <label class="label mt1">DDD</label>
                                                <input class="input" v-model="telephones.ddd">
                                            </div>
                                            <div class="column is-6">
                                                <label class="label mt1">Telefone</label>
                                                <input type="text" data-validate="brPhone" class="input" v-model="telephones.number">
                                            </div>
                                            <div class="column is-4">
                                            <label class="label mt1">Adicionar campo</label>
                                            <i class="fa fa-trash fa-2x" aria-hidden="true" v-on:click.prevent="deleteUser(index)" style="padding-right: 1cm"></i>
                                            <i class="fa fa-plus fa-2x" aria-hidden="true"v-on:click.prevent="addUser"></i>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="mt4 mb5 column is-paddingless is-10-touch is-4-desktop flexd">
                                        <button v-on:click.prevent="next()" class="button is-info">Próximo</button>
                                    </div>
                                </div>
                        </div>
                         <infocadastro></infocadastro>
                    </div>
                </div>
            </div>
            <div v-if="step === 2">
                <div class="mt5">
                    <div id="cadastro1" class="columns is-desktop">
                        <div class="column is-10-touch is-offset-1-touch is-4-desktop is-offset-2-desktop">
                            <form class="form-horizontal mt3">
                                    <div class="control">
                                        <label class="label mt1">CEP</label>
                                        <input type="text" class="input" v-model="cep" v-on:keyup="searchCep()" placeholder="digite o cep aqui (sem hífen)">
                                        <span v-if="message" class="help is-danger">CEP não encontrado.</span>
                                        <label class="label mt1">Cidade</label>
                                        <input class="input" v-model="dados.userInfoModel.address.city">
                                        <label class="label mt1">UF</label>
                                        <input class="input" v-model="dados.userInfoModel.address.state">
                                        <label class="label mt1">Endereço</label>
                                        <input class="input" v-model="dados.userInfoModel.address.thoroughfare">
                                        <label class="label mt1">Numero</label>
                                        <input class="input" v-model="dados.userInfoModel.address.number">
                                        <label class="label mt1">Bairro</label>
                                        <input class="input" v-model="dados.userInfoModel.address.neighborhood">
                                        <label class="label mt1">Complemento</label>
                                        <input class="input" v-model="dados.userInfoModel.address.complement">
                                    </div>
                            </form>
                            <div class="container mt3">
                            <div class="columns">
                             <div class="column is-2">
                        <p>Download do termo de adesão</p>
                        </div>
                         <div class="column is-10"> <i class="fa fa-file-text-o fa-2x" v-on:click="modal = !modal" aria-hidden="true"></i>
                         </div>
                         </div>
                         </div>
                            <div class="mt5 mb5 column is-paddingless is-10-touch is-4-desktop flexd">
                                <button v-on:click.prevent="prev()" class="button is-light">Anterior</button>
                                <button v-on:click.prevent="submit()" class="button is-info">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
<div id="cadastroadministrador" class="content-tab" style="display:none">
    <form>
        <div v-if="step === 1">
            <div class="mt5">
                <div id="cadastro" class="columns is-desktop">
                    <div class="column is-10-touch is-offset-1-touch is-4-desktop is-offset-2-desktop">
                            <div class="mt4">
                                <div>
                                    <label class="label mt3">CPF</label>
                                    <input class="input" id="cpf" type="text" name="cpf" data-validate="cpf" placeholder="000.000.000-00" maxlength="14" v-model="dados.document">
                                    <label class="label mt3">Nome Completo</label>
                                    <input class="input" data-validate="text" v-model="dados.fullName">
                                    <label class="label mt3">Data de nascimento</label>
                                    <input class="input" data-validate="date" style="margin-bottom: 0.75rem" v-model="dados.birthDate">
                                </div>
                                <div>
                                    <label class="label mt1">Email</label>
                                    <input class="input" v-model="dados.emails.address" label="Email">
                                    <label class="label mt2">Confirmação Email</label>
                                    <input class="input" v-model="dados.emails.address" label="Email">
                                    <div class="columns">
                                        <div class="column is-4">
                                            <div class="checkradio100 mt1">
                                                <input class="is-checkradio is-info" id="checkboxEmail" type="checkbox" name="checkboxEmail">
                                                <label for="checkboxEmail">Receber notificações por e-mail</label></div>
                                        </div>
                                        <div class="column is-6">
                                            <div class="checkradio100 mt1">
                                                <input class="is-checkradio is-info" id="checkboxNews" type="checkbox" name="checkboxNews">
                                                <label for="checkboxNews">Receber Newsletter</label></div>
                                        </div>
                                    </div>
                                    <div class="columns" v-for="(telephones, index) in dados.telephones">
                                        <div class="column is-2">
                                            <label class="label mt1">DDD</label>
                                            <input class="input" v-model="telephones.ddd">
                                        </div>

                                        <div class="column is-6">
                                            <label class="label mt1">Telefone</label>
                                            <input type="text" data-validate="brPhone" class="input" v-model="telephones.number">
                                        </div>
                                        <div class="column is-4">
                                            <label class="label mt1">Adicionar campo</label>
                                            <i class="fa fa-trash fa-2x" aria-hidden="true" v-on:click.prevent="deleteUser(index)" style="padding-right: 1cm"></i>
                                            <i class="fa fa-plus fa-2x" aria-hidden="true"v-on:click.prevent="addUser"></i>
                                            
                                        </div>
                                    </div>
                                    <div class="control">

                                        <div class="checkradio100 mt1">
                                            <input class="is-checkradio is-info" id="checkboxSms" type="checkbox" name="checkboxSms">
                                            <label for="checkboxSms">Receber notificações por SMS</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt4 mb5 column is-paddingless is-10-touch is-4-desktop flexd">
                                    <button v-on:click.prevent="next()" class="button is-info">Próximo</button>
                                </div>
                        </div>
                    </div>
                    <infocadastro></infocadastro>
                </div>
            </div>
        </div>
        <div v-if="step === 2">
            <div class="mt5">
                <div id="cadastro1" class="columns is-desktop">
                    <div class="column is-10-touch is-offset-1-touch is-4-desktop is-offset-2-desktop">
                        <form class="form-horizontal mt3">
                                <div class="control">
                                    <label class="label mt1">CEP</label>
                                    <input type="text" class="input" v-model="cep" v-on:keyup="searchCep()" placeholder="digite o cep aqui (sem hífen)">
                                    <span v-if="message" class="help is-danger">CEP não encontrado.</span>
                                    <label class="label mt1">Cidade</label>
                                    <input class="input" v-model="dados.userInfoModel.address.city">
                                    <label class="label mt1">UF</label>
                                    <input class="input" v-model="dados.userInfoModel.address.state">
                                    <label class="label mt1">Endereço</label>
                                    <input class="input" v-model="dados.userInfoModel.address.thoroughfare">
                                    <label class="label mt1">Numero</label>
                                    <input class="input" v-model="dados.userInfoModel.address.number">
                                    <label class="label mt1">Bairro</label>
                                    <input class="input" v-model="dados.userInfoModel.address.neighborhood">
                                    <label class="label mt1">Complemento</label>
                                    <input class="input" v-model="dados.userInfoModel.address.complement">
                                </div>
                        </form>
                        <div class="control">
                            <div class="checkradio100 mt1">
                                <input class="is-checkradio is-info" id="exampleCheckbox19" type="checkbox" name="exampleCheckbox">
                                <label for="exampleCheckbox19">Concordo em receber notificações por e-mail</label>
                            </div>
                        </div>
                        <div class="container mt3">
                            <div class="columns">
                             <div class="column is-2">
                        <p>Download do termo de adesão</p>
                        </div>
                         <div class="column is-10"> <i class="fa fa-file-text-o fa-2x" v-on:click="modal = !modal" aria-hidden="true"></i>
                         </div>
                         </div>
                         </div>

                        <div class="mt5 mb5 column is-paddingless is-10-touch is-offset-1-touch is-4-desktop flexd">

                            <button v-on:click.prevent="prev()" class="button is-light">Anterior</button>
                            <button v-on:click.prevent="submit()" class="button is-info">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    </div>
</div>
</div>

<div id="cadastrousuarios" class="content-tab" style="display:none">
    <form>
        <section class="container">
            <div class="hero-body">
                <div style="text-align: left"> 
                <div class="container">
                    <h4 class="title">
                    Usuários cadastrados
                    </h4>
                </div>
            </div>
        </section>
        <div class="container mt5">
            <div class="columns is-desktop">
                    <div class="column is-8-desktop is-offset-2-desktop is-10-touch is-offset-1-touch">
                        <div class="mt4">
                        <div v-for="(user, index) in users">
                            <div class="columns">
                            <div class="column is-3">
                            <label class="label mt3">CPF</label>
                            <input class="input" data-validate="cpf" placeholder="000.000.000-00" v-model="user.cpf"><br>
                            </div>
                            <div class="column is-5">
                            <label class="label mt3">Nome completo</label>
                            <input class="input" data-validate="text" v-model="user.nome">
                            </div>
                            <div class="column is-1">
                                <label v-for="ativar" class="label mt3">Ativar</label>
                                <div class="checkradio100 mt1">
                             <input class="checkradio is-info" id="ativar" type="checkbox" name="ativar" checked="checked" style="border-color:#fff">
                             </div>
                             </div>
                          <div class="column is-1">
                                            <label class="label mt3">Editar</label>
                                            <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                                            </div>
                         <div class="column is-1">
                                           <label class="label mt3">Excluir</label>
                                            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                                            </div>
                            <div class="column is-1">
                                            <label class="label mt3">Autorização</label>
                                            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                </div>


                                
            </form>
        </div>
    </div>
    </div>

    </div>
    <div class="container mt5">
    <div class="mb4" style="text-align: center">
    <div style="text-align: center"> 
        <button class="button is-info" v-on:click.prevent="enviar">Salvar</button>
    </div>
     </div>
    </div>
    </div>
    </div>
