@{
    ViewData["Title"] = "Termos de adesão";
}

<div class="container" id="termos">
    <navbarinternal></navbarinternal>
    <div style="height: 100vh" class="dflex1">
        <div class="column is-8">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Leia e concorde com os termos antes de prosseguir.</p>
                </header>
                <div class="card-content">
                    <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium maiores sed beatae corporis est doloremque error, amet obcaecati quam aut natus odit exercitationem eveniet deleniti? Est, qui. Provident, pariatur?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium maiores sed beatae corporis est doloremque error, amet obcaecati quam aut natus odit exercitationem eveniet deleniti? Est, qui. Provident, pariatur?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique omnis et at esse natus harum nulla autem? Iste quas sed, perspiciatis, dolore, omnis fugit aliquid commodi repellendus numquam ratione facilis!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis corrupti. Repellat itaque sunt quam sint inventore aliquid, voluptatum velit placeat officia. Voluptatem velit quia esse iusto possimus aliquid beatae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque dolores, debitis veniam tenetur ex consequuntur modi? Ducimus ratione assumenda expedita provident aut dolorem facilis corrupti pariatur. Harum, praesentium fuga?</p>
                    <div class="field mb2">
                        <input v-on:click="termoschecked = !termoschecked" class="is-checkradio is-info" id="termoscheckbox" type="checkbox" name="termoscheckbox">
                        <label for="termoscheckbox">Concordo</label>
                    </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a v-bind:disabled="termoschecked" href="#" class="button is-info card-footer-item">Avançar</a>
                </footer>
            </div>
        </div>
    </div>
</div>