@{
    ViewData["Title"] = "Login";
}

<div id="login">
    <navbarinternal></navbarinternal>
    <div class="columns">
        <div class="column">
            <div id="loginfield" class="column is-paddingless is-10-mobile is-offset-1-mobile is-6-desktop is-offset-5-desktop is-7-tablet is-offset-2-tablet">
                <div style="min-height: 100vh" class="dflex1">
                    <div>
                        <img id="logo" src="~/images/logodefault.png" height="30%" alt="">
                        <h3 class="subtitle"><b>Seja bem vindo!</b></h3>
                        <p>Realize a verificação do certificado digital para continuar</p>
                        <form>
                            <a href="https://ieptb-centralduplicata.azurewebsites.net/certificado" class="button is-info is-medium is-fullwidth justifyflexstart"> VERIFICAR CERTIFICADO DIGITAL </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-hidden-mobile p0">
            <div class="black">
                <div class="dflex2" id="bg">
                    <div id="criarconta" class="has-text-left column is-8">
                        <p class="is-size-7">Ainda não é membro?</p>
                        <p class="is-size-3 has-text-weight-bold">Comece agora mesmo a gerir seus protestos de forma simples e rápida</p>
                        <a href="/Cadastro" class="button is-info is-medium has-text-left"> Criar minha conta </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>