@{
    ViewData["Title"] = "Home";
}

<body>
    <div id="home">
    <navbarhome></navbarhome>
    <section id="bannerfull" class="hero prelative">
        <div class="dflex1 content-bannerfull pabsolute">
            <div class="container has-text-centered">
                <div class="column is-10-touch is-offset-1-touch">
                <h1 class="title is-size-2">EMISSÃO DE DUPLICATAS SIMPLES E EFICIENTE</h1>
                <h2 class="subtitle">Acompanhe o fluxo de operação até o vencimento, organize suas contas e automatize seus processos de recuperação de crédito com os Cartórios de Protesto</h2>
                <a onclick="ScrollDown()" id="saibamais" class="button is-info is-inverted is-outlined is-rounded is-large is-size-5 mt2">Saiba mais&nbsp;<i class="fa fa-chevron-down"></i></a></div>
            </div>
        </div>

        <div id="video">
            <video width="100%" autoplay loop poster="/images/working2.jpg" src=""></video>
        </div>
    </section>

    <div class="bar1 blue dflex1 has-text-centered">Mais de 600 mil empresas recuperam seus créditos com os Cartórios de Protesto</div>
    <div class="bar2 ligthgray dflex1 has-text-centered-mobile is-hidden-mobile">
      <div class="container">
          <div class="columns">
              <div class="column dflex1 is-hidden-mobile"><b>Na mídia ></b></div>
              <div class="column"><a target="_blank" href="https://exame.abril.com.br/negocios/cartorios-de-protesto-sao-a-maneira-mais-rapida-de-cobrar-dividas/"><img src="~/images/exame.png"></a></div>
              <div class="column"><a target="_blank" href="https://cultura.estadao.com.br/blogs/direto-da-fonte/creditos-recuperados-pelo-poder-publico-crescem-285-no-trimestre/"><img src="~/images/estadao.png"></a></div>
              <div class="column"><a target="_blank" href="/audiospot/Audiospotband"><img src="~/images/band.png"></a></div>
              <div class="column"><a target="_blank" href="/audiospot/Audiospotjp"><img src="~/images/jp.png"></a></div>
              <div class="column"><a target="_blank" href="/audiospot/Audiospotcbn"><img src="~/images/cbn.png"></a></div>
          </div>
      </div>
    </div>

<section id="inicio" class="section is-small">
    <div class="container">
        <titulocadastro class="mb6 has-text-centered" title="Tenha mais controle financeiro com nossas soluções" subtitle=""></titulocadastro>
        <div class="columns">
        <div class="column">
            <div class="card card-equal-height">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="~/images/emissaoduplicatas.jpg" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title has-text-centered">Emissão de duplicatas</p>
                    <div class="content">
                    <p>Simplifique e ganhe eficiência sem custos para registro.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card card-equal-height">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="~/images/recuperecredito.jpg" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title has-text-centered">Recupere seus créditos</p>
                    <div class="content">
                    <p>Fácil, Rápido, Eficiênte com a menor taxa do mercado.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card card-equal-height">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="~/images/segurancajuridica.jpg" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title has-text-centered">Cartórios de Protesto</p>
                    <div class="content">
                    <p>Conte com a segurança jurídica e os altos índices de recuperação de crédito dos Cartórios de Protesto e alcance o sucesso.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>

    <section class="section has-text-centered-touch" id="destaques">
        <div class="container">
            <div class="columns">
                <div class="column is-4 dflex1">
                    <div>
                        <img src="~/images/graph.png" alt="">
                    </div>
                </div>
                <div class="column is-6 is-offset-1-desktop dflex1">
                    <div>
                        <h1 class="is-size-4"><b>Maior índice geral de recuperação de crédito do mercado: 85%</b></h1>
                        <h1><i>65% em até 3 dias</i></h1>
                        <p>Receba seus títulos sem pagamento com a ferramenta de maior índice de recuperação do mercado, graças a segurança, eficiência e rapidez dos Cartórios de Protesto e garanta o recebimento de suas vendas. </p>
                        <br>
                        <h1 class="is-size-4"><b>Gerencie seus recebíveis e controle suas finanças</b></h1>
                        <p>A todas as suas duplicatas emitidas, liquidadas e protestadas. Tenha a disposição ferramentas de indicadores de desempenho. Gerencie seu negócio de forma eficiente e profissional.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container section" id="comofunciona">
        <div class="container">
        <titulocadastro class="mb6 has-text-centered-touch" title="Como funciona" subtitle="Conheça melhor as soluções dos Cartórios de Protesto"></titulocadastro>
        <section>
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card card-equal-height">
                            <div class="card-image">
                                <figure class="image">
                                <img style="margin-top: -8.5%; width: auto" src="~/images/shield.png" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title has-text-centered">Acesso com certificado digital</p>
                                <div class="content">
                                <p>Mais segurança e agilidade nas operações do dia-a-dia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card card-equal-height">
                            <div class="card-image">
                                <figure class="image">
                                <img style="margin-top: -8.5%; width: auto" src="~/images/xml.png" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title has-text-centered">Emissão de duplicatas digitais com importação de NF-e</p>
                                <div class="content">
                                <p>Confirmação de integridade e validade da NF emitida</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card card-equal-height">
                            <div class="card-image">
                                <figure class="image">
                                <img style="margin-top: -8.5%; width: auto" src="~/images/icon.png" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title has-text-centered">Geração de número único de registro</p>
                                <div class="content">
                                <p>Registrado e com a segurança jurídica dos Cartórios de Protesto.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="card card-equal-height">
                            <div class="card-image">
                                <figure class="image">
                                <img style="margin-top: -8.5%; width: auto" src="~/images/email.png" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title has-text-centered">Comunicação eletronica de todos os atos</p>
                                <div class="content">
                                <p>Agilidade e transparência de todas as operações realizadas. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card card-equal-height">
                            <div class="card-image">
                                <figure class="image">
                                <img style="margin-top: -8.5%; width: auto" src="~/images/computer.png" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title has-text-centered">Formalização de documentação eletronica</p>
                                <div class="content">
                                <p>Transferência de titularidade, endosso, aceite e gravame, tudo a um clique.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card card-equal-height">
                            <div class="card-image">
                                <figure class="image">
                                <img style="margin-top: -8.5%; width: auto" src="~/images/coins.png" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title has-text-centered">Recuperação de Crédito</p>
                                <div class="content">
                                <p>Envio automático das duplicatas não pagas para protesto com o menor custo do mercado e o maior índice de recuperação de crédito.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
    </section>

    <div class="hero is-hidden-mobile">
        <img class="image banner1" src="~/images/banner.png" alt="">
    </div>

    <div class="block-featured mt5">
        <div class="column is-6">
            <div class="dflex2">
                <h1 class="is-size-4 mb1"><b>Faça como mais de 600 mil empresas, escolha os Cartórios de Protesto para alcançar o sucesso dos seus negócios.</b></h1>
                Nós descomplicamos a gestão de recebíveis para você e entregamos tudo em um só serviço. Tenha toda a segurança jurídica que somente os Cartórios de Protesto pode oferecer. Gerencie seu capital com tranquilidade, sem precisar de intermediários.
            </div>
        </div>
        <img src="~/images/600.png" alt="">
    </div>

    <section id="formhome" class="container dflex1 mt6 has-text-centered-mobile">
        <div class="columns">

            <div class="column is-5 is-offset-1-touch is-10-touch is-centered-mobile">
                
                <h1 class="title">Fale conosco</h1>
                <h1 class="is-size-5">Receba o nosso contato para saber mais sobre as soluções dos Cartórios de Protesto ou esclarecer qualquer dúvida.</h1>
                
                <form class="form-horizontal is-paddingless column is-10-touch is-offset-1-touch">

                    <div class="field mt2">
                    <div class="control">
                        <input id="textinput-0" name="textinput-0" type="text" placeholder="Nome" class="input">
                    </div>
                    </div>

                    <div class="field mt2">
                    <div class="control">
                        <input id="textinput-1" name="textinput-1" type="text" placeholder="Telefone" class="input">
                    </div>
                    </div>

                    <div class="field mt2">
                    <div class="control">
                        <input id="textinput-3" name="textinput-3" type="text" placeholder="E-mail" class="input">
                    </div>
                    </div>

                    <div class="field mt2">
                    <div class="control">
                        <input id="textinput-2" name="textinput-2" type="text" placeholder="Assunto" class="input">
                    </div>
                    </div>

                    <div class="field mt2">
                    <div class="control">                     
                        <textarea class="textarea" id="textarea-0" name="textarea-0" placeholder="Mensagem"></textarea>
                    </div>
                    </div>

                    <div class="field mt2">
                    <div class="control">
                        <button id="singlebutton-0" name="singlebutton-0" class="button is-info is-medium is-pulled-right">Enviar</button>
                    </div>
                    </div>
                </form>
            </div>

            <div class="column is-5 is-10-touch is-offset-1-touch is-offset-1-desktop is-centered-mobile">
                <h1 class="title">Ainda tem dúvida?</h1>
                <h1 class="is-size-5">Nosso time de especialistas vai te ajudar a saber mais sobre os Cartórios de Protesto e suas vantagens para aplicação ao seu negócio.</h1>
                <br>
                ✔ Entraremos em contato com você.<br><br>
                ✔ Entenda todas as tarifas e veja por que utilizar os Cartórios de Protesto é o meio mais barato para fazer a gestão de recebíveis e recuperação de crédito.<br><br>
                ✔ Saiba como podemos impactar o seu negócio.<br><br>
                ✔ O nosso contato é sem compromisso. Você só vai fechar quando tiver todas as suas dúvidas esclarecidas.<br>
            </div>

        </div>
    </section>

    <section class="section footer mt6 hero is-bold is-light has-text-centered-mobile">

        <div class="container">
            
            <img src="/images/logob.png" class="image" alt="">
            
            <div class="columns">
                <div class="column">
                    <div class="columns">
                        <div class="column is-10-tablet">
                            <h1 class="subtitle mt3"><b>Sobre o IEPTB</b></h1>
                            <p>O IEPTB - Instituto de Estudos de Protesto de Títulos do Brasil - É a entidade de classe representante dos Cartórios de Protestos do Brasil que tem por finalidade efetuar pesquisas, estudos e desenvolver aprimoramentos para a atividade do Protesto, com o intuito de melhor atender o público usuário. </p>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="subtitle mt3"><b>Entre em contato</b></h1>
                    <div class="entreemcontato mt1 dflex">
                    <i class="fa fw fa-map-marker is-pulled-left-desktop"></i>
                    <p>&nbsp;&nbsp;Rua Quinze de Novembro, 184 - 4º Andar - São Paulo - SP</p>
                    </div>

                    <div class="entreemcontato mt1 dflex">
                    <i class="fa fw fa-phone is-pulled-left-desktop"></i>
                    <p>&nbsp;&nbsp;0800 878 2704</p>
                    </div>

                    <div class="entreemcontato mt1 dflex">
                    <i class="fa fw fa-envelope is-pulled-left-desktop"></i>
                    <p>&nbsp;&nbsp;empresas@cartoriosdeprotesto.org.br</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot has-text-centered mt5 is-size-7">
            <b>© Copyright 2019 IEPTB</b> | Todos os direitos reservados 
        </div>
    </section>
    </div>
    
</body>
