@{
    ViewData["Title"] = "Home";
}


<body>
    <div id="home">
    <navbarhome></navbarhome>
    <section id="bannerfull" class="hero prelative">
        <div class="dflex1 content-bannerfull pabsolute">
            <div class="container has-text-centered">
                <div class="column is-10-touch is-offset-1-touch">
                <h1 class="title is-size-2">EMISSÃO DE DUPLICATAS SIMPLES E EFICIENTE</h1>
                <h2 class="subtitle">Acompanhe o fluxo de operação até o vencimento, organize seus contas e automatize seus processos de recuperação de crédito com os cartórios de protesto</h2>
                <a onclick="ScrollDown()" id="saibamais" class="button is-info is-inverted is-outlined is-rounded is-large is-size-5 mt2">Saiba mais&nbsp;<i class="fa fa-chevron-down"></i></a></div>
            </div>
        </div>

        <div id="video">
            <video width="100%" autoplay loop poster="/images/working2.jpg" src=""></video>
        </div>
    </section>

    <div class="bar1 blue dflex1 has-text-centered">Mais de 600 mil empresas recuperam seus créditos com os cartórios de protesto</div>
    
    <div class="bar2 ligthgray dflex1">
        <div class="container">
            <h1 class="is-3 mb3 is-text-centered-touch"><b>Na mídia</b></h1>
            <div class="columns">
                <div class="column"><img src="http://via.placeholder.com/100x50" alt=""></div>
                <div class="column"><img src="http://via.placeholder.com/100x50" alt=""></div>
                <div class="column"><img src="http://via.placeholder.com/100x50" alt=""></div>
                <div class="column"><img src="http://via.placeholder.com/100x50" alt=""></div>
                <div class="column"><img src="http://via.placeholder.com/100x50" alt=""></div>
                <div class="column"><img src="http://via.placeholder.com/100x50" alt=""></div>
            </div>
        </div>
    </div>

    <section id="tiles" class="section container dflex">
        <div>
        <h2 class="title has-text-centered is-size-3">Tenha mais controle financeiro com nossas soluções.</h2>
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <img src="~/images/emissaoduplicatas.jpg" class="image">
                        <p class="mt2"><b>Emissão de Duplicatas</b></p>
                        <p class="subtitle">Simplifique e ganhe eficiência sem custos para registro.
                            </p>
                    </article>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <img src="~/images/recuperecredito.jpg" class="image">
                        <p class="mt2"><b>Recupere seus Créditos</b></p>
                        <p class="subtitle">Facil, Rápido, Eficiênte com a menor taxa do mercado.
                            </p>
                    </article>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <img src="~/images/segurancajuridica.jpg" class="image">
                        <p class="mt2"><b>Cartórios de Protesto</b></p>
                        <p class="subtitle">Conte com a segurança jurídica e os altos indices de recuperacao de crédito dos cartorios de protesto e alcande o sucesso.
                            </p>
                    </article>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="mb6" id="comofunciona">
        <div class="container">
        <titulocadastro class="mb5" title="Como funciona" subtitle="Conheça melhor o IEPTB"></titulocadastro>
            
            <div class="columns">
                <div class="column">
                    <card title="Acesso com certificado digital" subtitle="Mais Segurança e agilidade nas operações do dia a dia."></card>
                </div>
                <div class="column">
                    <card title="Emissao de duplicatas digitas com importacao de NF-e" subtitle="  Confirmacao de integridade e validade da NF emitida."></card>
                </div>
                <div class="column">
                    <card title="Geração de número único de registro" subtitle=" Registrado e com a segurança jurídica dos Cartorios de Proteto."></card>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <card title="Comunicação eletronica de todos os atos" subtitle="Agilidade e transparencia de todas as operações realizadas."></card>
                </div>
                <div class="column">
                    <card title="Formalizacao de documentação Eletronica" subtitle="Transferencia de titularidade, endosso, aceite e gravame, tudo a um clique."></card>
                </div>
                <div class="column">
                    <card title="Recuperacao de Credito" subtitle="Envio automatico das duplicatas não pagas para protesto com o menor custo do mercado e o maior indice de recuperacao de credito."></card>
                </div>
            </div>

        </div>
    </section>

    <div class="hero">
        <img class="image banner1" src="~/images/banner.png" alt="">
    </div>

    <section class="container dflex1 mt5">
        <form class="form-horizontal column is-8-desktop is-10-touch" >
            <!-- Form Name -->
            <h1 class="title">Fale conosco</h1>

            <!-- Text input-->
            <div class="field mt2">
            <div class="control">
                <input id="textinput-0" name="textinput-0" type="text" placeholder="Nome" class="input ">
            </div>
            </div>

            <!-- Text input-->
            <div class="field mt2">
            <div class="control">
                <input id="textinput-1" name="textinput-1" type="text" placeholder="Telefone" class="input ">
            </div>
            </div>

            <!-- Text input-->
            <div class="field mt2">
            <div class="control">
                <input id="textinput-3" name="textinput-3" type="text" placeholder="E-mail" class="input ">
            </div>
            </div>

            <!-- Text input-->
            <div class="field mt2">
            <div class="control">
                <input id="textinput-2" name="textinput-2" type="text" placeholder="Assunto" class="input ">
            </div>
            </div>

            <!-- Textarea -->
            <div class="field mt2">
            <div class="control">                     
                <textarea class="textarea" id="textarea-0" name="textarea-0" placeholder="Mensagem"></textarea>
            </div>
            </div>

            <!-- Button -->
            <div class="field mt2">
            <div class="control">
                <button id="singlebutton-0" name="singlebutton-0" class="button is-info is-medium is-pulled-right">Enviar</button>
            </div>
            </div>
        </form>
    </section>

    <section class="section footer mt6 hero is-bold is-light">

        <div class="container">
            
            <img src="/images/logob.png" class="image" alt="">
            
            <div class="columns">
                <div class="column">
                    <div class="columns">
                        <div class="column is-10-tablet">
                            <h1 class="subtitle mt3"><b>Sobre o IEPTB</b></h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam sint maiores commodi adipisci odit numquam modi perspiciatis quam. Modi quam placeat ipsum quibusdam quis repellendus dolore, ad consequuntur iure voluptates!</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h1 class="subtitle mt3"><b>Entre em contato</b></h1>
                    <div class="mt1 dflex">
                    <i class="fa fw fa-map-marker is-pulled-left"></i>
                    <p>&nbsp;&nbsp;Rua Quinze de Novembro, 184 - 4º Andar - São Paulo - SP</p>
                    </div>

                    <div class="mt1 dflex">
                    <i class="fa fw fa-phone is-pulled-left"></i>
                    <p>&nbsp;&nbsp;0800 878 2704</p>
                    </div>

                    <div class="mt1 dflex">
                    <i class="fa fw fa-envelope is-pulled-left"></i>
                    <p>&nbsp;&nbsp;empresas@cartoriosdeprotesto.org.br</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot has-text-centered mt6 is-size-7">
            <b>© Copyright 2019 IEPTB</b> | Todos os direitos reservados 
        </div>
    </section>
    </div>
</body>