// #cadastro
//   height: 100vh

#cadastro .infoc
  // height: 10vh
  padding: 1.5rem

#cadastro .titlec
  font-size: 1rem
  font-weight: bold

#cadastro .subtitlec
  font-size: 0.7rem

.checkbox, label.radio, .checkradio100
  width: 100%